_*
.DS_Store
dagstuhl-eas-manifesto.aux
dagstuhl-eas-manifesto.log
dagstuhl-eas-manifesto.out
dagstuhl-eas-manifesto.pdf
dagstuhl-eas-manifesto.synctex.gz
dagstuhl-eas-manifesto.blg
raw-material/proposal.pdf
edit-macros.log